In [11]:
my_list = [80,96,72,100,8]
print(my_list[0])

my_list.append(1000)

my_list

80

[80, 96, 72, 100, 8, 1000]

In [6]:
people_list = ['Eric','Adil','Jeff']
people_list[0] = 'Aria'

In [9]:
print(people_list[0:2])

['Aria', 'Adil']

In [47]:
my_set = {1,2,3,4,5,2,2}
len(my_set)
#set 중복x 
my_set
for i in my_set:
    print(i, end=' ')
my_set.update([6,9,10])
my_set

1 2 3 4 5 3

{1, 2, 3, 4, 5, 6, 9, 10}

In [49]:
a = 10
b = '감자'
c = [1,2 ]
d = {1,2}
e = (1,2)
f = {"name":"정인웅"}


type(a)
type(b)
type(c)
type(d)
type(e)
type(f)

dict

set()

In [66]:
zoo = ['tiger','panda','lion','tiger','sheep']
zoo.remove(zoo[2])
zoo.append('zibra')
del zoo[-1]
print(zoo)
zoo[:3]

['tiger', 'panda', 'tiger', 'sheep']

['tiger', 'panda', 'tiger']

In [68]:

like_coffee = True
type(like_coffee)
like_tea = False
print(type(like_tea))

<class 'bool'>

In [70]:
a = 1
a==1
a > 1
a >=1
a < 1

False

In [71]:
#변수이름 조건

TypeError: max expected at least 1 argument, got 0

In [85]:
a = 1 
b = '일'
print('{:-^50}'.format('파이썬 형식'))
print(f'{a}는 {b}이다.')
print(str(a)+'는', b+'이다.')
print('{}는 {}이다.'.format(a,b))

----------------------파이썬 형식----------------------
1는 일이다.
1는 일이다.
1는 일이다.

In [96]:
my_list = ['Monday','Tuesday','Wednesday','Thursday','Friday']

for i in my_list[:4]:
    if i=='Monday':
        continue
    print(i)

Tuesday
Wednesday
Thursday

[]

In [107]:
my_vehicle = {
    "model": "Ford",
    "make": "Explorer",
    "year": 2018,
    "mileage": 40000
}
vehicle2 = my_vehicle.copy()
vehicle2["number_of_tires"] = 4
del vehicle2['mileage']
print(vehicle2)

{'model': 'Ford', 'make': 'Explorer', 'year': 2018, 'number_of_tires': 4}

In [110]:
def print_color_red():
    color = "RED"
    print('color')
    return color

In [111]:
print_color_red()

color

'RED'

In [113]:
def three(firstname, lastname, age):
    three_value = [firstname, lastname, age]
    return three_value
three('steve','jobs',20)

['steve', 'jobs', 20]

In [117]:
homework_assignment_grades = {
    'homework_1': 85,
    'homework_2': 100,
    'homework_3':81
}
import calculate_py as calpy

calpy.calculate_homework(homework_assignment_grades)

88.67

In [123]:
import random
# type_of_drinks = ['Soda','Coffee','Water','Tea']
# print(random.choice(type_of_drinks))
print(random.randint(1,10))

import math
square_root = math.sqrt(64)
square_root

1

8.0

In [5]:
class Animal:
    weight: int
    color: str
    age:int
    animal_type = str
    def eat(self):
        print('Animal eating')
    def sleep(self):
        print('Animal sleeping')

class Dog(Animal):
    can_shed: bool
    domestic_name: str
    def talk(self):
        print('Bark')
    def eat(self):
        print('Chews on bone!')

In [6]:
dog = Dog()
dog.eat()

Chews on bone!

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
class Student(Person):
    def __init__(self, name, age, degree):
        super().__init__(name=name, age=age)
        self.degree = degree

Person()